h1{
    font-size: 40px;
    text-align:center;
    color: black;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

nav{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding:10px;
font-size: 30px;
color: black;
}

th{ text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(180, 176, 176, .1);
		font-size: 18px; 
		text-transform: uppercase;
}

.copy{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(180, 176, 176, .1);
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    border-width: 2px;
    display: inline-block;
    height: 20px;
    border-color: black;
    text-align: center;
    padding: 5px; 
}   

body{
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../assets/city\ background.jpg');
    background-repeat: no-repeat;
    background-size: 1300px;
}

table {
	width: 600px;
	margin: 0px auto;
}
th, td {
	padding: 7px 10px 10px 10px;}
tr.even {
	background-color: #efefef;}
tr:hover {
	background-color: #c3e6e5;}

section div {
	margin-bottom: 20px;
}